<form action="/todos/{{todo._id}}?_method=PUT" method="POST" style="display:inline">
  <div class="input-group">
    <div class="input-group-text">
      <input type="checkbox" name="isDone" {{#if todo.isDone }} checked {{/if}}>
    </div>
    <input class="form-control" type="text" placeholder="name" name="name" value="{{todo.name}}">
    <button class="btn btn-outline-success" type="submit" href="/todos/{{todo._id}}">save</a>
  </div>
</form>

<a class="btn btn-outline-danger mt-5" href="/todos/{{todo._id}}">cancel</a>