<form action="/todos" method="POST" style="display:inline">
  <div class="input-group">
    <input class="form-control" type="text" placeholder="Something to do?" name="name">
    <button class="btn btn-outline-success" type="submit" href="/">create</a>
  </div>
</form>

<a class="btn btn-outline-danger mt-5" href="/">cancel</a>